<h1> Welcome to RockHound </h1>

<div style="font-size: 25px; font-weight: semibold;">RockHound was built to keep track of your
rock hunting finds. Come share your specimens with our RockHound community. Happy hunting! </div>

<br>
<h3><%= link_to 'Check out our member specimen finds!', rocks_path %><br></h3>
<br>

<h3> Sign Up with the link below </h3>
<%= link_to(controller: 'users', action: 'new') { 'Sign Up' } %>
<h3> Log in with the link below </h3>
<%= link_to(controller: 'sessions', action: 'login') { 'Log In' } %>