<h1> welcome/home </h1>















<h3> Sign Up with the link below </h3>
<%= link_to(controller: 'users', action: 'new') { 'Sign Up' } %>
<h3> Log in with the link below </h3>
<%= link_to(controller: 'sessions', action: 'new') { 'Log In' } %>