<h1><%= @user.name %>'s Collection </h1>  

<%= link_to 'Home', home_path(@user) %><br>



<h3>Here is a list of links to your specimens in your collection:</h3>
<ul>
    <% @user.rocks.each do |rock| %>
        <li>
            <%= link_to rock.name, rock_path(rock) %>
        </li>
    <% end %>
</ul>